<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Red+Rose:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ed06971682.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/weather1.png">
    <title>Techsuite</title>
</head>
<body>
    {{>header}}
    <div class="main-content index-content">
        <p>Use this site to get your weather</p>
        <form action="">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

        <div class="forecast-info">
            <p id="location"></p>
            <p id="forecast"></p>
        </div>
        <script async id="slcLiveChat" src="https://widget.sonetel.com/SonetelWidget.min.js" data-account-id="207353013"></script>
    </div>
    <div class="products">
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=24199707-20&marketplace=amazon&region=US&placement=B07Q71LX84&asins=B07Q71LX84&linkId=93036124e9a41c9ca9e799c2b56559d4&show_border=false&link_opens_in_new_window=false&price_color=64c7db&title_color=ffffff&bg_color=0c4a7d">
        </iframe>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>