<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Red+Rose:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ed06971682.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/weather1.png">
    <title>Techsuite</title>
</head>
<body>
    {{>header}}
    <div class="main-content index-content">
        <p>Use this site to get your weather</p>
        <form action="">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

        <div class="forecast-info">
            <p id="location"></p>
            <p id="forecast"></p>
        </div>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>