<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Red+Rose:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/ed06971682.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/images/prime2.png">
    <title>PrimeBnB</title>
</head>
<body>
    {{>nav}}
    <div class="main-content index-content">
        <p>Use this site to get your weather and buy from amazon!!!</p>
        <form action="">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

            <div class="forecast-info">
                <p id="location"></p>
                <p id="forecast"></p>
            </div>
            <script async id="slcLiveChat" src="https://widget.sonetel.com/SonetelWidget.min.js" data-account-id="207353013"></script>
        </div>
        <div class="products">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=24199707-20&marketplace=amazon&region=US&placement=B07QK83N5S&asins=B07QK83N5S&linkId=08c77960f822c30f549e951201d30fe6&show_border=false&link_opens_in_new_window=false&price_color=64c7db&title_color=ffffff&bg_color=0c4a7d">
            </iframe>
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=24199707-20&marketplace=amazon&region=US&placement=B01F4MKBBG&asins=B01F4MKBBG&linkId=43c48d37e79523ee160528085a482936&show_border=false&link_opens_in_new_window=false&price_color=64c7db&title_color=ffffff&bg_color=0c4a7d">
            </iframe>
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=24199707-20&marketplace=amazon&region=US&placement=B07HS3FRRN&asins=B07HS3FRRN&linkId=1a9a57a3f5499259980457008a3dcdd2&show_border=false&link_opens_in_new_window=false&price_color=64c7db&title_color=ffffff&bg_color=0c4a7d">
            </iframe>
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=24199707-20&marketplace=amazon&region=US&placement=B003MZ1ESM&asins=B003MZ1ESM&linkId=319893b684db9b7d2ee0449895a15edb&show_border=false&link_opens_in_new_window=false&price_color=64c7db&title_color=ffffff&bg_color=0c4a7d">
            </iframe>
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=24199707-20&marketplace=amazon&region=US&placement=B082F7BT2C&asins=B082F7BT2C&linkId=676b8001f37a8e5252a44c76b01691af&show_border=false&link_opens_in_new_window=false&price_color=64c7db&title_color=ffffff&bg_color=0c4a7d">
            </iframe>
        </div>
    </div>
    
    {{>footer}}

    <script src="/js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
