<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Red+Rose:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ed06971682.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/weather1.png">
    <title>Techsuite</title>
</head>
<body>
    {{>header}}
    <div class="main-content index-content">
        <p>Use this site to get your weather</p>
        <form action="">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

        <div class="forecast-info">
            <p id="location"></p>
            <p id="forecast"></p>
        </div>
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ac&ref=tf_til&ad_type=product_link&tracking_id=733105-21&marketplace=amazon&region=GB&placement=B01N16BG67&asins=B01N16BG67&linkId=7ed221d7c20cc8ecb76f86b7206493fa&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>