<style>
    footer p {
        font-size: small;
        word-spacing: normal;
    }

    .copyright {
        float: right;
    }
</style>
<footer>
    <div>
        <p> Hello <i class="fas fa-hand-sparkles"></i> 
        <span>from techsuite | techsuite@gmail.com</span>
        <span class="copyright">&copy2020 Techsuite.com</span>
        </p>
    </div>
</footer>