 body {
     color: #adadad;
     /* font-family: 'Red Rose', cursive; */
     font-family: 'Lato', sans-serif;
     margin: 0;
     padding: 0 5px;

     display: flex;
     flex-direction: column;
     min-height: 100vh;
     
 }

 .main-content {
     flex-grow: 1;
 }

 .errors {
     text-align: center;
     margin: 10px auto;
 }

 .index-content {
     text-align: center;
 }

 img {
     height: 250px;
     width: 250px;
 }

 header {
     color: #3492da;
     padding: 5px 60px;
     background-color: #f8f8f8;
 }

 nav {
     background-color: #fff;
 }

 nav li {
     list-style: none;
     display: inline-block
 }

 nav a {
     color: #3492da;
     text-decoration: none;
     padding: 0 16px;
 }

 nav a:hover {
     color: #062F4F;
 }

 footer {
    background-color: #f8f8f8;
    color: #3686c4;
    padding: 2em;
}

.forecast {
    border: 1px solid #3492da;
    color: #3686c4;
    background-color: #eeeeee;
    padding: auto;
    margin: 20px auto;
    width: 50%;
    border-radius: 5px;
}

.error {
    border: 1px solid #e74;
    color: #e74;
    background-color: #eeeeee;
    padding: 10px auto;
    margin: 20px auto;
    width: 50%;
    border-radius: 5px;
}

input {
    font-family: 'Lato', sans-serif;
    border: 1px solid #3492da;
    padding: 8px;
    border-radius: 5px;
    width: 40%;
}

input:focus { color: #3492da;}

button {
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    border: 1px solid #3492da;
    color: #3492da;
    padding: 8px;
    border-radius: 5px;
}

button:hover { background-color: #3492da; color: #fff;}

/*       Affiliate Program */

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
}

iframe {
    margin: 10px;
}